.bind{
  padding: 0 10px;
  margin: 30px 10%;
  background: #fff;
  .table-handle-box{
    padding: 30px 0;
    .btns{
      padding-left: 20px;
    }
    .el-dialog{
      .el-input{
        width: 50%;
      }
    }
  }
  .el-table{
    .brand-img{
      height: 30px;
      vertical-align: middle;
      width: auto;
    }
  }
  .el-pagination{
    text-align: right;
    background: #fff;
    padding: 10px 0;
  }
}